<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contact Support
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="name" placeholder="Your Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder="Your Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input [(ngModel)]="phoneNumber" type="tel" placeholder="Your Phone Number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Review </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="message" placeholder="Your Message" rows="6"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="submitForm()">Submit</ion-button>
</ion-content>
