<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>{{ item.name }}</ion-label>
      <ion-label slot="end">$ {{ item.price }}</ion-label>
      <ion-button slot="end" (click)="removeItemFromCart(item)">Remove</ion-button>
    </ion-item>
  </ion-list>

  <div class="total-amount">
    Total: $ {{ totalAmount }}
  </div>

  <ion-button expand="full" color="primary" (click)="checkout()">Checkout</ion-button>
</ion-content>
