<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let notification of notifications">
    <ion-card-header>
      {{ notification.title }}
    </ion-card-header>
    <ion-card-content>
      {{ notification.message }}
    </ion-card-content>
  </ion-card>
</ion-content>
